@font-face {
    font-family: rudaw;
    src: url(rudaw.ttf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary1 {
      @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .bg-slide{
       background-color: rgba(0, 0, 0, 0.6);
    }
    .bg-form{
      background-color: rgba(0, 0, 0, 0.5);
   }
   .bg-nav{
    background-color: rgba(0, 0, 0, 0.2);
 }
  }
 